<form
  [formGroup]="userForm"
  class="form-container"
  fxLayout="row"
  fxLayoutAlign="center center"
  (ngSubmit)="onSubmit()"
>
  <mat-card class="form">
    <mat-card-title>Registro</mat-card-title>
    <mat-slide-toggle (change)="toggleChanged($event.checked)"
      >Es especialista?</mat-slide-toggle
    >
    <mat-card-content>
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input type="text" formControlName="nombre" required matInput />
        <mat-error *ngIf="userForm.get('nombre')?.errors?.['required']">
          El campo de debe tener datos
        </mat-error>
        <mat-error *ngIf="userForm.get('nombre')?.errors?.['pattern']">
          El campo no puede tener numeros
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Apellido</mat-label>
        <input type="text" formControlName="apellido" required matInput />
        <mat-error *ngIf="userForm.get('apellido')?.errors?.['required']">
          El campo de debe tener datos
        </mat-error>
        <mat-error *ngIf="userForm.get('apellido')?.errors?.['pattern']">
          El campo no puede tener numeros
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Edad</mat-label>
        <input type="text" formControlName="edad" required matInput />
        <mat-error *ngIf="userForm.get('edad')?.errors?.['required']">
          El campo de debe tener datos
        </mat-error>
        <mat-error *ngIf="userForm.get('edad')?.errors?.['pattern']">
          El campo de debe tener datos numericos
        </mat-error>
        <mat-error *ngIf="userForm.get('edad')?.errors?.['min']">
          debe ser mayor de 18
        </mat-error>
        <mat-error *ngIf="userForm.get('edad')?.errors?.['max']">
          debe ser menor de 99
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>DNI</mat-label>
        <input type="text" formControlName="dni" required matInput />
        <mat-error *ngIf="userForm.get('dni')?.errors?.['required']">
          El campo de debe tener datos
        </mat-error>
        <mat-error *ngIf="userForm.get('dni')?.errors?.['pattern']">
          El campo de debe tener datos numericos
        </mat-error>
        <mat-error *ngIf="userForm.get('dni')?.errors?.['maxLength']">
          debe tener 10 numeros el dni
        </mat-error>
        <mat-error *ngIf="userForm.get('dni')?.errors?.['minLength']">
          debe tener 10 numeros el dni
        </mat-error>
      </mat-form-field>
      <ng-container *ngIf="!toggleChecked">
        <mat-form-field>
          <mat-label>Obra social</mat-label>
          <input type="text" formControlName="obrasocial" matInput />
          <mat-error *ngIf="userForm.get('obrasocial')?.errors?.['required']">
            El campo de debe tener datos
          </mat-error>
        </mat-form-field>
      </ng-container>
      <ng-container *ngIf="toggleChecked">
        <mat-form-field>
          <mat-label>Especialidad</mat-label>
          <mat-select formControlName="especialidad">
            <mat-option
              *ngFor="let esp of especialidadArr"
              [value]="esp.especialidad"
            >
              {{ esp.especialidad }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="email" formControlName="email" required matInput />
        <mat-error *ngIf="userForm.get('email')?.errors?.['required']">
          El campo de debe tener datos
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" formControlName="password" matInput />
        <mat-error *ngIf="userForm.get('password')?.errors?.['required']">
          El campo de debe tener datos
        </mat-error>
      </mat-form-field>
      <div style="border: 3px solid black; margin-bottom: 10px">
        <h2>Cargar Foto</h2>
        <input
          type="file"
          formControlName="file"
          (change)="onFileSelected($event)"
        />
      </div>
    </mat-card-content>
    <re-captcha
      (resolved)="resolved($event)"
      siteKey="6LdpHxIpAAAAAH-zYajIe3KgGwpte23vuDHQixJK"
      formControlName="captchaResponse"
      style="position: absolute; top: 150px; left: 540px"
    ></re-captcha>
    <div class="botones-login">
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="!userForm.valid || !userForm.get('captchaResponse')?.value"
      >
        Registrarse
      </button>
      <button mat-raised-button color="primary" (click)="irLogin()">
        Volver a Login
      </button>
    </div>
    <ng-container *ngIf="toggleChecked">
      <div
        style="
          position: absolute;
          top: 20px;
          left: 650px;
          border: 1px solid black;
          width: 450px;
        "
      >
        <h3>Agrega la Especialidad en caso de no aparecer</h3>
        <mat-form-field style="padding: 0px !important">
          <mat-label> Agrega la Especialidad </mat-label>
          <input type="text" matInput formControlName="especialidadNueva" />
        </mat-form-field>
        <button
          type="button"
          mat-raised-button
          color="primary"
          style="margin: 0px !important"
          (click)="agregarEspecialidad()"
        >
          Agregar Especialidad
        </button>
      </div>
    </ng-container>
  </mat-card>
</form>
