<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <app-lista-turnos
    (especialista)="obtenerTurno($event)"
    formControlName="turno"
  >
  </app-lista-turnos>
  <div class="botones">
    <button
      type="button"
      mat-raised-button
      color="primary"
      (click)="aceptarTurno()"
      [disabled]="
        !userForm.valid ||
        estado == 'aceptado' ||
        estado == 'rechazado' ||
        estado == 'cancelado'
      "
    >
      Aceptar
    </button>
    <button
      type="button"
      mat-raised-button
      color="primary"
      [disabled]="
        !userForm.valid || estado == 'aceptado' || estado == 'cancelado'
      "
      (click)="rechazarTurno()"
    >
      Rechazar
    </button>
    <button
      type="button"
      mat-raised-button
      color="primary"
      [disabled]="
        !userForm.valid || estado == 'aceptado' || estado == 'rechazado'
      "
      (click)="cancelarTurno()"
    >
      Cancelar
    </button>
    <button
      type="button"
      (click)="finalizarTurno()"
      mat-raised-button
      color="primary"
      [hidden]="!userForm.valid || estado == 'finalizado' || flag === 0"
    >
      Finalizado
    </button>
  </div>
  <ng-container *ngIf="estado == 'cancelado' || estado == 'rechazado'">
    <div class="caja">
      <mat-form-field style="width: 100%; height: 100%">
        <mat-label>Deja un comentario</mat-label>
        <textarea
          matInput
          style="resize: none"
          formControlName="comentario"
        ></textarea>
      </mat-form-field>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="!userForm.valid"
      >
        Enviar comentario
      </button>
    </div>
  </ng-container>
  <ng-container *ngIf="estado == 'finalizado'">
    <div class="caja">
      <mat-form-field style="width: 100%; height: 100%">
        <mat-label>Deja un comentario</mat-label>
        <textarea
          matInput
          style="resize: none"
          formControlName="comentario"
        ></textarea>
      </mat-form-field>
      <p>Diagnostico</p>
      <mat-form-field style="width: 100%; height: 100%">
        <mat-label>Deja un diagnostico</mat-label>
        <textarea
          matInput
          style="resize: none"
          formControlName="diagnostico"
        ></textarea>
      </mat-form-field>
      <div>
        <mat-icon
          fontIcon="stars"
          *ngFor="let star of stars"
          [class.active]="star <= selectedStar"
          (click)="rate(star)"
        >
          star
        </mat-icon>
      </div>
      <p>{{ selectedStar }}/5</p>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="!userForm.valid"
      >
        Enviar comentario
      </button>
    </div>
  </ng-container>
  <app-resena></app-resena>
</form>
