<div class="container">
  <div class="inner-container">
    <div class="logo">
      <img src="../../../assets/hospital.png" alt="" srcset="" />
    </div>
    <div class="botones">
      <button
        type="button"
        mat-raised-button
        color="primary"
        style="margin-right: 10px"
        (click)="irLogin()"
      >
        Login
      </button>
      <button
        type="button"
        mat-raised-button
        color="primary"
        (click)="irRegistro()"
      >
        Registro
      </button>
    </div>
  </div>
</div>
