.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 93.3vh;
  //   background: url("../../../assets/medico.png") no-repeat center center fixed;
  //   background-size: cover;
}

.inner-container {
  width: 50%;
}

.demo-inline-calendar-card {
  width: 300px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  gap: 16px; /* Espacio entre la lista y el calendario */
}

.turnoVentana {
  position: absolute;
  max-width: 500px;
  max-height: 500px;
  top: 100px;
  left: 800px;
}
